<div class="row">
  <div class="col-md-4">
    <h3>Seleccione Archivos</h3>
    <div appNgDropFiles [ngClass]="{'file-over': estaSobreElemento}"  (mouseSobre)="estaSobreElemento = $event" class="well drop-zone file-over">
      <h4>Deje caer aqui las images</h4>
      <img src="assets/drop-images.png" alt="suelte">
    </div>

  </div>
  <div class="col-md-8">
    <h4>Cargar Archivos</h4>
    <button  (click)="cargarImagenes()" [disabled]="archivos.length === 0" class="btn btn-success">Cargar archivo</button>
    <button class="btn btn-danger">Limpiar</button>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nombre del Archivo</th>
        <th scope="col">Tamaño</th>
        <th scope="col">Progreso</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Mark</td>
        <td>12 MB</td>
        <td>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%"></div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>


  </div>
</div>
